---

exclude: ^$

ci:
  autoupdate_schedule: quarterly

repos:
 - repo: https://github.com/repo-helper/pyproject-parser
   rev: v0.14.0
   hooks:
    - id: reformat-pyproject

 - repo: https://github.com/pre-commit/pre-commit-hooks
   rev: v6.0.0
   hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: fix-byte-order-marker
    - id: check-byte-order-marker
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-toml
    - id: check-yaml
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-vcs-permalinks
    - id: detect-private-key
    - id: trailing-whitespace
    - id: mixed-line-ending
    - id: end-of-file-fixer

 - repo: https://github.com/domdfcoding/pre-commit-hooks
   rev: v0.4.0
   hooks:
    - id: requirements-txt-sorter
      args:
       - --allow-git
    - id: bind-requirements

 - repo: https://github.com/asottile/pyupgrade
   rev: v3.21.2
   hooks:
    - id: pyupgrade
      args:
       - --py36-plus
       - --keep-runtime-typing

 - repo: https://github.com/Lucas-C/pre-commit-hooks
   rev: v1.5.5
   hooks:
    - id: remove-crlf
    - id: forbid-crlf
